<h4 class="ui horizontal divider header">
  Task 12323 (Buy Motherboard)
</h4>
<table class="ui yellow definition table">
  <tbody>
    <tr>
      <td class="three wide column">Task</td>
      <td>Buy Motherboard</td>
    </tr>
    <tr>
      <td>Asigned to</td>
      <td>Doy Bello</td>
    </tr>
    <tr>
      <td>Asigned to</td>
      <td>Doy Bello</td>
    </tr>
    <tr>
      <td>Due</td>
      <td>4 Jan 2018</td>
    </tr>
    <tr>
      <td>Dependencies</td>
      <td></td>
    </tr>
    <tr>
      <td>Current Activities</td>
      <td></td>
    </tr>
    <tr>
      <td>Task Status</td>
      <td>Danger</td>
    </tr>
    <tr>
      <td>Resolution</td>
      <td></td>
    </tr>
  </tbody>
</table>