<br>
<div class="ui grid">
  <div class="two column row">
    <div class="column">
      <div class="ui action input">
        <input type="text" placeholder="Search...">
        <select class="ui compact selection dropdown">
          <option value="all">All</option>
          <option value="articles">Name</option>
          <option value="products">Date</option>
          <option value="articles">Type</option>
          <option value="products">Project</option>
        </select>
        <div class="ui button">Search</div>
      </div>
    </div>
    <div class="right aligned column">
      <button class="ui green labeled icon button" routerLink="/mfr/new">
        New 
        <i class="address card icon"></i>
      </button>
    </div>
  </div>
</div>
<br>

<div class="ui divider"></div>

<div class="ui four column grid">
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header" routerLink="/mfr/181228-1927-01">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              <a routerLink="/contacts/12">Legaspi, Virgilio (Ver)</a> <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="ui raised card">
        <div class="content">
          <div class="header">181228-1927-01</div>
          <div class="meta">
            <span class="category">December 28, 2018 7:27pm</span>
          </div>
          <div class="description">
            <p>
              Legaspi, Virgilio (Ver) <br>
              Orig <br>
              type: phonecall <br>
              category: business <br>
              project: employment <br>
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
