<div class="ui grid">
  <div class="row">
    <div class="six wide column">
        <!-- <img class="ui medium rounded image centered align" src="https://semantic-ui.com/images/wireframe/square-image.png"> -->
        <h4 class="ui horizontal divider header">
          <i class="address card outline icon"></i>
          Name
        </h4>
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column">First</td>
              <td>Virgilio</td>
            </tr>
            <tr>
              <td>Middle</td>
              <td>dela Cruz</td>
            </tr>
            <tr>
              <td>Last</td>
              <td>Legaspi</td>
            </tr>
            <tr>
              <td>Nickname</td>
              <td>Ver</td>
            </tr>
          </tbody>
        </table>
        <h4 class="ui horizontal divider header">
          <i class="map marker alternate icon"></i>
          Address
        </h4>
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column">Add 1</td>
              <td>
                  41 B Otero Ave Mabayuan
              </td>
            </tr>
            <tr>
            <tr>
              <td>Add 2</td>
              <td>
                  41 A Acasia st. Gordon Heights
              </td>
            </tr>
            <tr>
              <td>City</td>
              <td>
                  Olongapo City
              </td>
            </tr>
            <tr>
              <td>State</td>
              <td>
                <div class="ui input fluid">
                  Zambales
                </div>
              </td>
            </tr>
            <tr>
              <td>Zip code</td>
              <td>
                <div class="ui input fluid">
                  2200
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="five wide column">
      <h4 class="ui horizontal divider header">
        <i class="address card icon"></i>
        Contact Information
      </h4>
      <table class="ui definition table">
        <tbody>
          <tr>
            <td class="center aligned two wide column"><i class="mobile icon large grey"></i></td>
            <td>
              092928360491
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="mobile alternate icon large grey"></i></td>
            <td>
              09663314998
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="viber icon large purple"></i></td>
            <td>
              verviberness
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="whatsapp icon large green"></i></td>
            <td>
              versapp
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="skype icon large blue"></i></td>
            <td>
              verskype
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="envelope icon large orange"></i></td>
            <td>
              verlegaspidc@gmail.com
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="facebook icon large blue"></i></td>
            <td>
              vergwapo
            </td>
          </tr>
          <tr>
            <td class="center aligned"><img src="assets/icons/zoom.png" class="ui avatar image"></td>
            <td>
              verzoom
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="linkedin icon large blue"></i></td>
            <td>
              verlinked
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="twitter icon large blue"></i></td>
            <td>
              vertwitwit
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="birthday cake icon pink"></i></td>
            <td>
              9 August 1998
              <!-- <div class="ui input fluid">
                <input suiDatepicker ngModel name="date_of_birth"
                pickerMode="date">
              </div> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="five wide column">
        <h4 class="ui horizontal divider header">
            <i class="briefcase icon"></i>
            Company Information
          </h4>
          <table class="ui definition table">
            <tbody>
              <tr>
                <td class="two wide column">Company</td>
                <td>
                  <div class="ui input fluid">
                    Gordon College
                  </div>
                </td>
              </tr>
              <tr>
                <td>Position</td>
                <td>
                  Student
                </td>
              </tr>
              <tr>
                <td>Website</td>
                <td>
                  verwebsite.com
                </td>
              </tr>
            </tbody>
          </table>
          <h4 class="ui horizontal divider header">
            <i class="pencil alternate icon"></i>
            Custom fields
          </h4>
          <table class="ui definition table">
              <tbody>
                <tr>
                  <td>
                    Spouse
                  </td>
                  <td>
                    Catriona Gray
                  </td>
                </tr>
                <tr>
                  <td>
                    Spouse Date of birth
                  </td>
                  <td>
                    25 August 1999
                  </td>
                </tr>
                <tr>
                  <td>
                    Eldest child
                  </td>
                  <td>
                    Abraham
                  </td>
                </tr>
              </tbody>
          </table>
    </div>
  </div>
</div>