<div class="ui grid">
  <div class="row">
    <div class="six wide column">
        <!-- <img class="ui medium rounded image centered align" src="https://semantic-ui.com/images/wireframe/square-image.png"> -->
        <h4 class="ui horizontal divider header">
          <i class="address card outline icon"></i>
          Name
        </h4>
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column">First</td>
              <td>{{ contact?.firstname }}</td>
            </tr>
            <tr>
              <td>Middle</td>
              <td>{{ contact?.middlename }}</td>
            </tr>
            <tr>
              <td>Last</td>
              <td>{{ contact?.lastname }}</td>
            </tr>
            <tr>
              <td>Nickname</td>
              <td>{{ contact?.nickname }}</td>
            </tr>
          </tbody>
        </table>
        <h4 class="ui horizontal divider header">
          <i class="map marker alternate icon"></i>
          Address
        </h4>
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column">Add 1</td>
              <td>
                  {{ contact?.address_1 }}
              </td>
            </tr>
            <tr>
            <tr>
              <td>Add 2</td>
              <td>
                  {{ contact?.address_2 }}
              </td>
            </tr>
            <tr>
              <td>City</td>
              <td>
                  {{ contact?.city }}
              </td>
            </tr>
            <tr>
              <td>State</td>
              <td>
                <div class="ui input fluid">
                  {{ contact?.state }}
                </div>
              </td>
            </tr>
            <tr>
              <td>Zip code</td>
              <td>
                <div class="ui input fluid">
                  {{ contact?.zip }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="five wide column">
      <h4 class="ui horizontal divider header">
        <i class="address card icon"></i>
        Contact Information
      </h4>
      <table class="ui definition table">
        <tbody>
          <tr>
            <td class="center aligned two wide column"><i class="mobile icon large grey"></i></td>
            <td>
              {{ contact?.home_phone }}
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="mobile alternate icon large grey"></i></td>
            <td>
              {{ contact?.work_phone }}
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="viber icon large purple"></i></td>
            <td>
              {{ contact?.viber }}
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="whatsapp icon large green"></i></td>
            <td>
              {{ contact?.whatsapp}}
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="skype icon large blue"></i></td>
            <td>
              {{ contact?.skype}}
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="envelope icon large orange"></i></td>
            <td>
              {{ contact?.email}}
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="facebook icon large blue"></i></td>
            <td>
              {{ contact?.facebook }}
            </td>
          </tr>
          <tr>
            <td class="center aligned"><img src="assets/icons/zoom.png" class="ui avatar image"></td>
            <td>
              {{ contact?.zoom}}
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="linkedin icon large blue"></i></td>
            <td>
              {{ contact?.linkedln }}
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="twitter icon large blue"></i></td>
            <td>
              {{ contact?.twitter }}
            </td>
          </tr>
          <tr>
            <td class="center aligned"><i class="birthday cake icon pink"></i></td>
            <td>
              {{ contact?.date_of_birth}}
              <!-- <div class="ui input fluid">
                <input suiDatepicker ngModel name="date_of_birth"
                pickerMode="date">
              </div> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="five wide column">
        <h4 class="ui horizontal divider header">
            <i class="briefcase icon"></i>
            Company Information
          </h4>
          <table class="ui definition table">
            <tbody>
              <tr>
                <td class="two wide column">Company</td>
                <td>
                  <div class="ui input fluid">
                    {{ contact?.company}}
                  </div>
                </td>
              </tr>
              <tr>
                <td>Position</td>
                <td>
                  {{ contact?.position}}
                </td>
              </tr>
              <tr>
                <td>Website</td>
                <td>
                  {{ contact?.website}}
                </td>
              </tr>
            </tbody>
          </table>
          <h4 class="ui horizontal divider header">
            <i class="pencil alternate icon"></i>
            Custom fields
          </h4>
          <table class="ui definition table">
              <tbody>
                <tr *ngFor="let cf of customFields">
                  <td>
                    {{ cf.field }}
                  </td>
                  <td>
                    {{ cf.value }}
                  </td>
                </tr>
                <tr>
              </tbody>
          </table>
    </div>
  </div>
</div>