<div class="ui grid">
  <div class="row">
    <div class="five wide column">
        <img class="ui medium rounded image centered align" src="https://semantic-ui.com/images/wireframe/square-image.png">
        <h4 class="ui horizontal divider header">
          <i class="address card outline icon"></i>
          Name
        </h4>
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column">First</td>
              <td>Virgilio</td>
            </tr>
            <tr>
              <td>Middle</td>
              <td>dela Cruz</td>
            </tr>
            <tr>
              <td>Last</td>
              <td>Legaspi</td>
            </tr>
            <tr>
              <td>Nickname</td>
              <td>Ver</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="six wide column">
        <h4 class="ui horizontal divider header">
          <i class="address card icon"></i>
          Basic Info
        </h4>
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column center aligned"><i class="map marker alternate icon large red"></i></td>
              <td>41 B- Otero Ave. Mabayuan, Olongapo City</td>
            </tr>
            <tr>
              <td class="center aligned"><i class="mobile alternate icon large grey"></i></td>
              <td>09294986252</td>
            </tr>
            <tr>
              <td class="center aligned"><i class="envelope icon large orange"></i></td>
              <td>zylegaspi@gmail.com</td>
            </tr>
            <tr>
              <td class="center aligned"><i class="skype icon large blue"></i></td>
              <td>vergwapo</td>
            </tr>
            <tr>
              <td class="center aligned"><i class="facebook icon large blue"></i></td>
              <td>vergwapo</td>
            </tr>
            <tr>
              <td class="center aligned"><i class="birthday cake icon pink"></i></td>
              <td>
                August 9 , 1998
                <div class="ui input" style="display: none;">
                  <input suiDatepicker
                  pickerMode="date">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <h4 class="ui horizontal divider header">
          <i class="pencil alternate icon"></i>
          Custom fields
        </h4>
        <table class="ui definition table">
            <tbody>
              <tr>
                <td>Wife</td>
                <td>Kate Valdez</td>
              </tr>
              <tr>
                <td>Custom</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>
                  <div class="ui input">
                    <input type="text">
                  </div>
                </td>
                <td>
                    <div class="ui input">
                      <input type="text">
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="five wide column">
        <h4 class="ui horizontal divider header">
          <i class="sticky note icon"></i>
          Notes
        </h4>
        <div class="ui input">
          <textarea name="" id="" cols="43" rows="10" spellcheck="false" class="centered align"></textarea>
        </div>
        <h4 class="ui horizontal divider header">
          <i class="folder icon"></i>
          Projects
        </h4>
        <div class="ui celled list">
          <div class="item">Project 1</div>
          <div class="item">Project 2</div>
          <div class="item">Project 3</div>
          <div class="item">Project 4</div>
          <div class="item">Project 5</div>
        </div>
    </div>
  </div>
</div>