<div class="ui grid">
    <div class="eight wide column">
      <h4 class="ui horizontal divider header">
        Mfr Information
      </h4>
      <table class="ui definition table">
        <tbody>
          <tr>
            <td class="four column wide">Mfr no.</td>
            <td>10322343-2324-23</td>
          </tr>
          <tr>
            <td>Contact</td>
            <td>Legaspi, Virgilio Jr</td>
          </tr>
          <tr>
            <td>Type</td>
            <td>Type sample</td>
          </tr>
          <tr>
            <td>Project</td>
            <td>Project sample</td>
          </tr>
        </tbody>
      </table>

      <h4 class="ui horizontal divider header">
        <i class="tasks icon"></i>
        Tasks
      </h4>
      <div class="ui list">
        <a class="item">
          <i class="tasks icon yellow"></i>
          <div class="content">
            <div class="header">Buy Motherboard</div>
            <div class="description">Doy Bello</div>
          </div>
        </a>
        <a class="item">
          <i class="exclamation icon red large"></i>
          <div class="content">
            <div class="header">Create mfr prototype</div>
            <div class="description">Virgilio Legaspi</div>
          </div>
        </a>
        <a class="item">
          <i class="tasks icon green"></i>
          <div class="content">
            <div class="header">Create database</div>
            <div class="description">Melner balce</div>
          </div>
        </a>
        <a class="item">
          <i class="tasks icon green"></i>
          <div class="content">
            <div class="header">This is fine</div>
            <div class="description">Someone</div>
          </div>
        </a>
        <a class="item">
          <i class="tasks icon red"></i>
          <div class="content">
            <div class="header">Needed to be done! Imediately</div>
            <div class="description">Someone</div>
          </div>
        </a>
      </div>
    </div>
  </div>