<div class="ui container">
  <div class="ui secondary pointing menu">
    <a class="item"  routerLink="/home" routerLinkActive="active">
      Home
    </a>
    <a class="item" routerLink="/contacts" routerLinkActive="active">
      Contacts
    </a>
    <a class="item" routerLink="/category" routerLinkActive="active">
      Category
    </a>
    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
</div>
<div class="ui container">
  <br>
  <router-outlet></router-outlet>
</div>

